<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="NAPOLEONEntities" connectionString="metadata=res://*/DataAccess.dbNapoleon.csdl|res://*/DataAccess.dbNapoleon.ssdl|res://*/DataAccess.dbNapoleon.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=local;initial catalog=NAPOLEON;user id=sa;password=UserMaster12;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <appSettings>
    <add key="CorreoString" value=""/>
    <add key="Clave" value="Mabel"/>
    <add key="URL" value="http://localhost:54279"/>
    <add key="EstatusCompleto" value="10000"/>
    <add key="PendientesSC" value="21"/>
    <add key="PendientesCSY" value="23"/>
    <add key="LogDirectory" value="C:\Temp\"/>
    <add key="ParametroMinutos" value="30"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="ApplicationInsightsWebTracking"/>
    </modules>
  </system.webServer>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
</configuration>