<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="NAPOLEONEntities" connectionString="metadata=res://*/DataAccess.dbNapoleon.csdl|res://*/DataAccess.dbNapoleon.ssdl|res://*/DataAccess.dbNapoleon.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=local;initial catalog=NAPOLEON;user id=sa;password=UserMaster12;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="NapConString" connectionString="Data Source=local;Initial Catalog=NAPOLEON;User ID=sa; Password=UserMaster12;" />
  </connectionStrings>
  <appSettings>
    <add key="Clave" value="Mabel" />
    <add key="URL" value="http://localhost/3.FUJI.Napoleon.Site" />
    <add key="EstatusCompleto" value="10000" />
    <add key="PendientesSC" value="21" />
    <add key="PendientesCSY" value="23" />
    <add key="LogDirectory" value="C:\Temp\" />
    <add key="ParametroMinutos" value="30" />
    <add key="CorreoString" value="6c6a5737785a31704546514e43736c7a5232484e59566858654c555730485757" />
    <add key="PassString" value="3575344e5149412b36645671624170704274593170513d3d" />
    <add key="URLFEED2" value="http://itmedical.com.mx:9010/"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime />
  <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages></system.web>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <services>
      <service name="_3.FUJI.Napoleon.Site.Services.NapoleonService">
        <endpoint address="soap" binding="basicHttpBinding" contract="_3.FUJI.Napoleon.Site.Services.INapoleonService" />
        <endpoint address="json" behaviorConfiguration="jsonBehavior" binding="webHttpBinding" contract="_3.FUJI.Napoleon.Site.Services.INapoleonService" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="jsonBehavior">
          <webHttp automaticFormatSelectionEnabled="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_INapoleonService" />
      </basicHttpBinding>
      <webHttpBinding>
        <binding closeTimeout="00:10:00" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" transferMode="Streamed" />
      </webHttpBinding>
    </bindings>
    <protocolMapping>
      <add binding="webHttpBinding" scheme="https" />
    </protocolMapping>
  </system.serviceModel>
  <system.webServer>
    <defaultDocument>
      <files>
        <remove value="Default.htm" />
        <remove value="default.aspx" />
        <remove value="iisstart.htm" />
        <remove value="index.html" />
        <remove value="index.htm" />
        <remove value="Default.asp" />
        <add value="frmLogin.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>